code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    color: blue;
    line-height: 1.5;
    font-size: 13px;
    background-color: #eae9e9;
    }
    
pro {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    color: blue;
    line-height: 1.5;
    font-size: 13px;
    background-color: none;
    }  

    